<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <defaultDocument>
            <files>
                <add value="debug.html" />
                <add value="release.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
    </system.web>
</configuration>
